@import "standard-styles.css";
@import "header.css";
@import "sidebar.css";
@import "footer.css";

/* Blog post page layout */
.container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px auto;
  grid-template-areas:
  "hd"
  "main"
  "sd"
  "ft";
}

.box{
  text-align: center;
}


/* content  */
.content{
  grid-area: main;
}

.card{
padding: 2% 0 3% 0;
}

.cardImage{
  width: 70%;
}

.cardText{
  text-align: justify;
  padding: 2% 10%;
}

figcaption{
  font-size: 0.5rem;
  text-align: center;
}

.photoGallery{
  display: flex;
  flex-direction: row;
  justify-content:space-Around;
  padding: 0 10% 3% 10%;
}

.cardImageGallery{
  width: 25%;
}
.button{
  border-radius: 10px;
  line-height: 2;
  font-size: 1rem;
  background-color: #c8dad3;
  margin-bottom: 30px;
  color: white;
  width: 120px;
}

.button:hover{
  background-color: #93b5b3;
}


/* If Screen Is Wide Enough */
@media(min-width:901px){
.container{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 300px auto;
  grid-template-areas:
  "hd hd"
  "main sd"
  "ft ft";
  border: 2px solid white;
}
}
